@page "/editar"
@model EditarModel
@{
    ViewData["Title"] = "Editar";
}
<h1>Editar un elemento</h1>
<div class="row justify-content-center">
    <div class="col-6">
        <form method="post" asp-page-handler="AgregarProducto" autocomplete="off">
            <h3>Editar un producto</h3>
            <div class="mb-3">
                <label asp-for="Producto.Nombre" class="form-label"></label>
                <input asp-for="Producto.Nombre" class="form-control shadow-none" />
                <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Producto.Descripcion" class="form-label"></label>
                <input asp-for="Producto.Descripcion" class="form-control shadow-none" />
                <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Producto.Precio" class="form-label"></label>
                <input asp-for="Producto.Precio" class="form-control shadow-none" />
                <span asp-validation-for="Producto.Precio" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Producto.Cantidad" class="form-label"></label>
                <input asp-for="Producto.Cantidad" class="form-control shadow-none" />
                <span asp-validation-for="Producto.Cantidad" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Producto.Categoria" class="form-label"></label>
                <select asp-for="Producto.Categoria" asp-items="Model.CategoriasLista" class="form-control shadow-none">
                    <option value="">Seleccionar categoría...</option>
                </select>
                <span asp-validation-for="Producto.Categoria" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary shadow-none">Enviar</button>
                <a href="/" class="btn btn-secondary shadow-none ms-3">Ir al mostrado</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}