@model EliminarModal
<form method="post" asp-page-handler="EliminarProducto" asp-route-id="@Model.Producto.ID">
    <div class="modal-header">
        <h5 class="modal-title" id="editar-titulo">¿Seguro que deseas eliminar el producto con ID #@Model.Producto.ID</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label asp-for="Producto.ID" class="form-label"></label>
            <input asp-for="Producto.ID" class="form-control" readonly id="eliminar-id" />
        </div>
        <div class="mb-3">
            <label asp-for="Producto.Nombre" class="form-label"></label>
            <input asp-for="Producto.Nombre" class="form-control" id="eliminar-nombre" />
            <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Producto.Descripcion" class="form-label"></label>
            <input asp-for="Producto.Descripcion" class="form-control" id="eliminar-descripcion" />
            <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Producto.Precio" class="form-label"></label>
            <input asp-for="Producto.Precio" class="form-control" id="eliminar-precio" />
            <span asp-validation-for="Producto.Precio" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Producto.Cantidad" class="form-label"></label>
            <input asp-for="Producto.Cantidad" class="form-control" id="eliminar-cantidad" />
            <span asp-validation-for="Producto.Cantidad" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="eliminar-categoria" class="form-label">Categoría</label>
            <select asp-for="Producto.Categoria" asp-items="Model.CategoriasLista" class="form-control" id="eliminar-categoria" required></select>

        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </div>
</form>
