@page "/lista"
@model ListaModel
@{
    ViewData["Title"] = "Lista";
}

<!--
foreach(var producto in Model.Producto)
{
    <table>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>     
    <tr>
        <td colspan="4">
            <a asp-page="./ProductoMto" asp-route-id="-1"> Crear producto </a>
}-->