@page
@model EstadisticasModel
@{
    ViewData["Title"] = "Estadísticas de Alumnos";
}
<script src="~/jquery/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="~/css/datatables.min.css" />
<script src="~/js/dataTables.min.js"></script>
<h2>Estadísticas de Alumnos</h2>
<h3>Promedios de los Alumnos</h3>
<canvas id="promediosChart"></canvas>

<h3>Top 5 Mejores Alumnos</h3>
<canvas id="top5MejoresChart"></canvas>

<h3>Top 5 Peores Alumnos</h3>
<canvas id="top5PeoresChart"></canvas>

<h3>Moda de los Promedios</h3>
<canvas id="modaChart"></canvas>

<h3>Índice de Aprobados vs Reprobados</h3>
<canvas id="aprobadosChart"></canvas>

<script>
    
</script>
