#logsTable th,
#logsTable td {
    text-align: center;
    vertical-align: middle;
}
/* Solo para la segunda fila del thead (los sub-headers) */
#logsTable thead tr:nth-child(2) th:nth-child(1) {
    background-color: #d4edda; /* verde */
    color: #155724;
    font-weight: bold;
}

#logsTable thead tr:nth-child(2) th:nth-child(2) {
    background-color: #fff3cd; /* amarillo */
    color: #856404;
    font-weight: bold;
}

#logsTable thead tr:nth-child(2) th:nth-child(3) {
    background-color: #f8d7da; /* rojo */
    color: #721c24;
    font-weight: bold;
}

/* Para las filas del tbody */
#logsTable tbody td:nth-child(4) {
    background-color: #d4edda;
    color: #155724;
    font-weight: bold;
}

#logsTable tbody td:nth-child(5) {
    background-color: #fff3cd;
    color: #856404;
    font-weight: bold;
}

#logsTable tbody td:nth-child(6) {
    background-color: #f8d7da;
    color: #721c24;
    font-weight: bold;
}


